<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "uk.co.freealternative.phone_search"
        version   = "1.0.0">

    <name>Alt Phone</name>
    <description>
        A web application that allows user to search for free alternative numbers.
    </description>
    <author href="http://up637415.co.uk" email="up637415@myport.ac.uk">
       PhoneGap Team
    </author>
    <access origin="*" />
    <gap:platform name="android" />
    <preference name="permissions" value="none"/>
    <gap:plugin name="com.teamnemitoff.phonedialer" version="0.3.0" />

</widget>
